<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>                
                <th scope="col">Date of Birth</th>
            </tr>
        </thead>
        {% for personalInfo in personalInfos %}  
        <tr>
            {% if personalInfo.gender == 'M'%}
                <td>Mr.</td>
            {% elif personalInfo.gender == 'F' %}
                <td>Ms.</td>
            {% endif %}

            <td>{{ personalInfo.first_name }}</td>
            <td>{{ personalInfo.last_name }}</td>
            <td>{{ personalInfo.date_of_birth }}</td>
            <td>{{ personalInfo.nationalCode }}</td>
        </tr>
        {% endfor %}  
    </table>
</div>